extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle)
        
        .row.mb-3 
            .col-12 
                a(
                    href="/rooms-chat/create"
                    class="btn btn-sm btn-success mr-1"
                ) Tạo phòng chat
        .row 
            .col-3 
                div(class="box-room")
                    div(class="inner-avatar")
                        img(
                            src="/images/anh1.jpg", 
                            alt="Phòng "
                            )
                    div(class="inner-info")
                        div(class="inner-name") Phòng ABC 
                        div(class="inner-bottom")
                            a(
                                href="#"
                                class="btn btn-sm btn-primary mr-1"
                            ) Nhắn tin 