mixin form-change-multi(prefixAdmin)       
    form(
        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
        method="POST"
        form-charge-multi
        )
        .row
            .form-group
                select(name="type" class="form-control")
                    option(disabled selected) -- Chon hanh dong --
                    option(value="active") Hoat dong 
                    option(value="inactive") Dung hoat dong 
                    option(value="delete-all") Xoa tat ca
                    option(value="change-position") Thay doi vi tri
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                    )
            button(type="submit" class="btn btn-success" style="height:38px") Ap dung