extends ../../layouts/auth.pug 
include ../../mixins/alert.pug

block main 
    +alert-error()

    //- .container.my-5 
    //-     .row.justify-content-center 
    //-         .col-8 
    //-             h1(class="text-center") Lấy lại mật khẩu
    //-             form(
    //-                 action=`/user/password/forgot`
    //-                 method="POST"
    //-                 ) 
    //-                 div(class="form-group")
    //-                     label(for="email") Email 
    //-                     input(
    //-                         type="text"
    //-                         class="form-control"
    //-                         id="email"
    //-                         name="email"
    //-                         required 
    //-                         )
    //-                 div(class="form-group")
    //-                     button(
    //-                         type="submit"
    //-                         class="btn btn-primary btn-block"
    //-                     ) Lấy lại mật khẩu
    .page-auth          
        .auth-card
            .column
                h1 Bạn muốn lấy lại mật khẩu 
                p Bạn vui lòng nhập email thật chính xác !
                form(
                    action=`/user/password/forgot`
                    method="POST"
                )
                    .form-item
                        input(
                            type='text'
                            class="form-element"
                            placeholder='Email'
                            id="email"
                            name="email"
                            required 
                            )
                    .flex-auth
                        button(type='submit') Xác nhận
            .column
                h2 Nếu bạn quên Email !
                p Bạn có thể đăng ký lại tài khoản !
                a(href='/user/register') Đăng ký